<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-7 d-none d-md-flex bg-image">

        </div>
        <div class="col-md-5">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-10 mx-auto">
                            <h2 class="text-center">Inicio de Sesión</h2>
                            <br>
                            <form>
                                <div class="form-group input-group-lg mb-3">
                                    <input id="inputEmail" name="email" type="email" placeholder="Correo Electrónico" required="" autofocus="" class="form-control border-0 px-4" [(ngModel)]="usuario.email">
                                </div>
                                <div class="form-group input-group-lg mb-3">
                                    <input id="inputPassword" name="contrasena" type="password" placeholder="Contraseña" required="" class="form-control border-0 px-4" [(ngModel)]="usuario.password">
                                </div>
                                <br class="mb-5">
                                <div class="d-grid gap-2">
                                    <a (click)="login()" type="submit" class="btn btn-lg" href="{{url}}">Iniciar Sesión</a>
                                </div>
                                
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>